---
import AzaMOELayout from "../layouts/AzaMOELayout.astro";
import { themeTextConfig } from "../config";
---

<AzaMOELayout current="home" title={themeTextConfig.pages.home.title}>
	<section class="corner-home">
		<div class="corner-home-box">
			<div class="corner-script corner-script-jp">{themeTextConfig.homeHeroTop}</div>
			<div class="corner-script corner-script-jp bold">{themeTextConfig.homeHeroBottom}</div>
		</div>
	</section>
</AzaMOELayout>
