---
import CornerLayout from "../layouts/CornerLayout.astro";
---

<CornerLayout current="home" title="Home">
	<section class="corner-home">
		<div class="corner-home-box">
			<div class="corner-script">Azalea's</div>
			<div class="corner-script bold">Road Less Traveled</div>
		</div>
	</section>
</CornerLayout>
